<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <title>EduTeX | EnSciences</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="<%= require('../assets/edutex.svg') %>" />
</head>

<body>

    <!-- Loader -->
    <div class="loader bg-body-tertiary" id="loader">
        <img src="<%= require('../assets/edutex.svg') %>" height="150px" style="margin-bottom: 30px;" id="loaderIcon" />
        <br>
        <div class="d-flex justify-content-center mb-4" id="loadingSpinner"><span
                class="spinner-border text-secondary"></span><span class="d-inline-block ms-2 mt-1">&nbsp;Chargement
                d'EduTeX en cours...</span></div>

        <div class="d-none" id="projectSelector">
            <!-- Button and input to create a new project -->
            <div class="text-center m-2">Ouvrir un projet</div>
            <!-- Table with project -->
            <div id="projectTable" class="table-responsive card mb-3">
                <table class="table mb-0">
                    <tbody id="projectList">
                    </tbody>
                </table>
                
            </div>

            <!-- Button and input to create a new project -->
            <div class="text-center m-2">Ajouter un nouveau projet</div>
            <div class="input-group pb-2">
                <input type="text" class="form-control form-control-sm" id="projectName" placeholder="Nom du projet">
                <button class="btn btn-success btn-sm" type="button" id="projectAddBtn"><i
                        class="fa-solid fa-fw fa-plus"></i>&nbsp;Créer</button>
            </div>


            <!-- Button switch to set simple mode -->
            <div class="text-center m-2">
            ou bien :<br>
            </div>
            
            <div class="d-grid gap-2">
            <a class="btn btn-sm btn-primary mt-2" href="./?workspace=simplified"><i
                    class="fa-solid fa-graduation-cap"></i>
                Démarrer en mode simplifié</a>
            </div>


            <!-- Alert -->
            <div id="projectAlert" class="alert alert-warning mt-3 mb-3 d-none" role="alert">
            </div>
        </div>

        <!-- Show credits at the bottom -->
        <div class="fixed-bottom text-center" id="loaderCredits">
            <p>EduTeX est une application bricodée par :</p>

            <img src="<%= require('../assets/ensciences.svg') %>" height="50px" style="vertical-align: middle;" />
            <p>
                <span
                    style="height: auto; display:inline-block; vertical-align: middle;margin-left:10px"><b>EnSciences</b></span><br>
                Th. G &copy; 2023-2024
            </p>
            </p>
        </div>
        <div class="fixed-bottom text-center" id="loaderCreditsSmall">
            EduTeX est une application bricodée par :
            <span style="display:inline-block"><span
                    style="height: auto; display:inline-block; vertical-align: middle;margin-left:5px"><img
                        src="<%= require('../assets/ensciences.svg') %>" height="25px" /></span>&nbsp;<span
                    style="height: auto; display:inline-block; vertical-align: middle;margin-left:5px"><b>EnSciences</b>,
                    Th. G &copy; 2023-2024</span></span>

        </div>
    </div>

    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="head">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="<%= require('../assets/edutex.svg') %>" height="30px"
                    width="30px" style="vertical-align: middle;" />
                <span
                    style="height: auto; display:inline-block;vertical-align: middle;margin-left: 6px;">EduTeX</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li id="projectNameSpan" class="text-secondary pt-2"></li>
                </ul>
                <!-- Right buttons -->
                <ul class="navbar-nav">
                    <!-- See projects -->
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-secondary showProjectsBtn" type="button" data-bs-toggle="tooltip"
                            data-bs-title="Voir les projets">
                            <i class="fa-solid fa-fw fa-folder"></i>
                            <!-- Show only on sm -->
                            <span class="d-xs-inline d-sm-inline d-md-inline d-lg-none">&nbsp;Projets</span>
                        </a>
                    </li>

                    <!-- Files modal button -->
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-secondary filesBtn" type="button" data-bs-toggle="tooltip"
                            data-bs-title="Gérer les fichiers">
                            <i class="fa-solid fa-fw fa-file-circle-plus"></i>
                            <!-- Show only on sm -->
                            <span class="d-xs-inline d-sm-inline d-md-inline d-lg-none">&nbsp;Fichiers</span>
                        </a>
                    </li>
                    <!-- Settings modal button -->
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-secondary settingsBtn" id="settingsBtn" type="button"
                            data-bs-toggle="tooltip" data-bs-title="Modifier les paramètres">
                            <i class="fa-solid fa-fw fa-cog"></i>
                            <!-- Show only on sm -->
                            <span class="d-xs-inline d-sm-inline d-md-inline d-lg-none">&nbsp;Paramètres</span>
                        </a>
                    </li>
                    <!-- Theme toggle button -->
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-secondary themeToggleBtn" type="button" data-bs-toggle="tooltip"
                            data-bs-title="Modifier le thème">
                            <span id="theme-toggle-icon"><i class="fa-solid fa-fw fa-sun"></i></span>
                            <!-- Show only on sm -->
                            <span class="d-xs-inline d-sm-inline d-md-inline d-lg-none">&nbsp;Thème</span>
                        </a>
                    </li>
                    <!-- Notification center button -->
                    <li class="nav-item dropdown d-inline-block" data-bs-toggle="tooltip"
                        data-bs-title="Voir les notifications">
                        <a class="nav-link dropdown-toggle text-secondary" type="button" id="notifBtn" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-fw fa-bell"></i>
                            <!-- Show only on sm -->
                            <span class="d-xs-inline d-sm-inline d-md-inline d-lg-none">&nbsp;Notifications</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" id="notifList">
                        </ul>
                    </li>
                    <!-- Quit simplified mode -->
                    <li class="nav-item d-flex align-items-center d-none ms-1" id="quitSimplifiedBtn">
                        <a class="btn btn-sm btn-danger" href="./" type="button" data-bs-toggle="tooltip"
                            data-bs-title="Quitter le mode simplifié" style="border-radius: 30px; width:30px">
                            <i class="fa-solid fa-times"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Settings modal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Paramètres</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="engine" class="form-label">Moteur TeX</label>
                        <select class="form-control" id="engine">
                            <option value="pdflatex">pdfLaTeX</option>
                            <option value="xelatex">XeLaTeX</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="autosave" class="form-label">Délai de sauvegarde automatique (en secondes)</label>
                        <input type="number" class="form-control" id="autosave" min="0" max="600" value="120">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Files modal -->
    <div class="modal fade" id="filesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Fichiers</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Alert -->
                    <div id="filesModalLabel" class="alert alert-info mb-3" role="alert"><i
                            class="fa-solid fa-fw fa-circle-info"></i>&nbsp;Les fichiers que vous ajoutez sont stockés
                        dans
                        votre navigateur (pas d'envoi vers un serveur).</div>

                    <p><b>Stockage actuel :</b> <span id="storageValues"></span></p>
                    <!-- Progress bar with the remaining storage in indexed db -->
                    <div class="progress mb-3" id="storageProgress">
                        <div class="progress-bar" role="progressbar" id="storageProgressValue" style="width: 20%;"
                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>


                    <!-- Tabular file list -->
                    <table class="table table-hover table-sm ">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Nom</th>
                                <th scope="col">Taille</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="fileList">
                        </tbody>
                    </table>

                    <!-- <p>Ajouter un nouveau fichier :</p> -->
                    <div class="input-group mb-3 mt-3">
                        <input type="file" class="form-control" id="fileInput" aria-describedby="fileBtn">
                        <button class="btn btn-success" type="button" id="addFileBtn"><i
                                class="fa-solid fa-fw fa-plus"></i>&nbsp;Ajouter</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="me-auto">
                        <button type="button" class="btn btn-danger" id="deleteAllBtn" data-bs-toggle="tooltip"
                            data-bs-title="Effacer tous les fichiers"><i class="fa-solid fa-fw fa-trash"></i></button>
                        <button type="button" class="btn btn-primary ms-2" id="downloadAllBtn" data-bs-toggle="tooltip"
                            data-bs-title="Télécharger tous les fichiers"><i
                                class="fa-solid fa-fw fa-download"></i></button>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- History modal -->
    <div class="modal fade" id="historyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Visualisation d'une version antérieure</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="historyModalLabel" class="alert alert-warning mb-3" role="alert">
                    </div>
                    <div id="historyModalBody" class="bg-body-tertiary p-3">
                        <p>Chargement...</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="restoreBtn">Restaurer</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="full_height container-fluid" id="workspace">

    </div>

    <!-- Notification toast -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toast-container">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast">
            <div id="toast-header" class="toast-header">
                <strong class="me-auto"><i></i>&nbsp;Notification</strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
            <div class="toast-body">
            </div>
        </div>
    </div>


    <!-- Alternative navbar for widget mode -->
    <div class="card d-none" id="widgetToolbar">
        <div class="card-body py-1 px-pl-3 d-flex justify-content-between align-items-center">
            <span>
                <img src="<%= require('../assets/edutex.svg') %>" width="28px" height="28px"
                    style="vertical-align: middle;" />
                <button class="btn btn-link text-secondary filesBtn" id="filesBtnWidget" type="button"
                    data-bs-toggle="tooltip" data-bs-title="Gérer les fichiers">
                    <i class="fa-solid fa-fw fa-file-circle-plus"></i>
                </button>
                <button class="btn btn-link text-secondary settingsBtn" id="settingsBtnWidget" type="button"
                    data-bs-toggle="tooltip" data-bs-title="Paramètres">
                    <i class="fa-solid fa-fw fa-cog"></i>
                </button>
                <button class="btn btn-link text-secondary themeToggleBtn" id="theme-toggleWidget" type="button"
                    data-bs-toggle="tooltip" data-bs-title="Modifier le thème">
                    <i class="fa-solid fa-fw fa-sun"></i>
                </button>
            </span>
            <span class="float-end">
                <button type="button" class="btn btn-link btn-sm text-secondary aboutBtn" id="aboutBtn" type="button"
                    data-bs-toggle="tooltip" data-bs-title="À propos">
                    <i class="fa-solid fa-fw fa-circle-info"></i>
                </button>
            </span>
        </div>
    </div>

    <!-- Footer -->
    <nav class="navbar fixed-bottom fixed-bottom-nav bg-body-tertiary" id="foot">
        <div class="container-fluid">
            <div>
                <span>
                    <img src="<%= require('../assets/ensciences.svg') %>" height="20px"
                        style="vertical-align: middle;" /></span><span
                    style="font-size: 12px; height: auto; display:inline-block; vertical-align: middle;margin-left:10px">Th.
                    G (<a href="https://ensciences.fr">ensciences.fr</a>, 2023-2024)</span>
            </div>
            <div class="float-end">
                <button type="button" class="btn btn-link btn-sm text-secondary aboutBtn" id="aboutBtn" type="button"
                    data-bs-toggle="tooltip" data-bs-title="À propos">
                    <i class="fa-solid fa-fw fa-circle-info"></i>
                </button>
            </div>
        </div>
    </nav>

    <!-- About modal -->
    <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">À propos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Cet éditeur LaTeX, fonctionnant entièrement dans le navigateur, a été développé par Th. G (<a
                        href="https://ensciences.fr">ensciences.fr</a>, 2023). Il n'a pas vocation à remplacer un
                    éditeur LaTeX classique, mais se veut plutôt être un outil d'apprentissage pour rédiger des
                    documents simples.<br><br>

                    Le code source est mis à disposition sous licence <a
                        href="https://www.gnu.org/licenses/quick-guide-gplv3.fr.html">GNU GPLv3</a> juste ici :

                    <div class="text-center mt-3">
                        <a class="btn btn-primary" href="https://framagit.org/ThibGiauffret/edutex" role="button"><i
                                class="fa-brands fa-gitlab"></i>&nbsp;Code source</a>
                    </div>

                    <br>

                    Il est basé sur les composants suivants :
                    <ul>
                        <li><a href="https://ace.c9.io/">Ace</a> (éditeur de texte) sous licence
                            <a href="https://github.com/ajaxorg/ace/blob/master/LICENSE">BSD</a>
                        </li>
                        <li><a href="https://getbootstrap.com/">Bootstrap</a> (interface) sous licence
                            <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE">MIT</a>
                        </li>
                        <li><a href="https://fontawesome.com/">Font Awesome</a> (icônes) sous licence
                            <a href="https://fontawesome.com/license/free">CC BY 4.0, SIL OFL 1.1 et MIT</a>
                        </li>
                        <li><a href="https://www.swiftlatex.com/">SwiftLaTeX</a> (compilation, moteur LaTeX) sous
                            licence
                            <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPLv3</a>, partiellement réécrit en
                            TypeScript
                        </li>
                        <li><a href="
                            https://stuk.github.io/jszip/">JSZip</a> (création d'archives) sous licence <a
                                href="https://github.com/Stuk/jszip/blob/main/LICENSE.markdown">MIT</a></li>
                        <li>
                            <a href="https://github.com/editor-js" target="_blank">EditorJS</a> (éditeur de texte
                            simplifié) sous licence <a
                                href="https://github.com/codex-team/editor.js/blob/next/LICENSE">Apache 2.0</a>
                        </li>
                    </ul>

                    Version : beta (<%= htmlWebpackPlugin.options.date %>)

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>