#loaderCreditsSmall {
    display: none;
}

#loaderIcon{
    margin-top:100px;
}

@media (max-height: 800px) {
    #loaderCreditsSmall {
        display: block;
        background-color: #212529;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #loaderCredits {
        display: none;
    }

    #loaderIcon {
        margin-top: 50px;
        height: 80px;
        width: 80px;
    }

    #loader{
        overflow-y: scroll;
        padding-bottom: 60px;
    }
}

@media (min-width: 768px) {

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .full_height {
        height: calc(100vh - 136px);
        padding-top: 7px;
    }

    .full_height-widget {
        height: calc(100vh - 48px);
        padding-top: 0px;
        padding-bottom: 10px;
    }

    .editor-card {
        width: 100%;
        height: 100%;
        max-height: calc(100vh - 33px);
    }

    #WYSIWYGEditorContainer {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }

    #pdf-card {
        width: 100%;
        height: calc(50% - 10px);
        margin-bottom: 20px;
    }

    #console-card {
        width: 100%;
        height: calc(50% - 10px);
    }

    .sidebyside {
        height: calc(100vh - 136px);
        margin-bottom: 20px;
    }

    .sidebyside-widget {
        height: 100%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .loader {
        position: fixed;
        z-index: 998;
        width: 100vw;
        height: 100vh;
        display: flex;
        /* flex column */
        flex-direction: column;
        align-items: center;
    }
}


/* for small screens */
@media (max-width: 768px) {
    .fixed-bottom-nav {
        position: relative !important;
    }

    #editor-card {
        width: 100%;
        height: 100%;
    }

    #pdf-card {
        width: 100%;
        height: 63%;
        margin-bottom: 20px;
    }

    #console-card {
        width: 100%;
        height: 33%;
    }

    .sidebyside-widget {
        height: 100%;
        padding-right: 5px;
        padding-left: 5px;
    }

    #left {
        height: 80vh;
        margin-bottom: 20px;
    }

    #right {
        height: 150vh;
    }


    .loader {
        position: fixed;
        z-index: 998;
        width: 100vw;
        height: 100vh;
        padding-top: 50px;
        display: flex;
        /* flex column */
        flex-direction: column;
        align-items: center;
    }
}

.fixed-bottom-nav {
    z-index: 997;
}

.full_height {
    padding-top: 7px;
}

.editor {
    width: 100%;
    height: 100%;
}

pre {
    white-space: pre-wrap;
    max-height: calc(50vh - 140px);
    overflow-y: scroll;
}

#editor-card-body {
    width: 100%;
    height: 100%;
    padding: 0px;
}

#pdf-card-body {
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-y: hidden;
}

#pdfbox {
    width: 100%;
    height: 99%
}

#pdf-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    /* flex column */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999;
}


#console-card-body {
    width: 100%;
    height: 100%;
    padding: 10px;
}

#widgetToolbar {
    display: block;
    margin: auto;
    width: 300px;
}

#notifList {
    width: 300px;
    font-size: 12px;
    max-height: 300px;
    overflow-y: scroll;
}

#projectTable {
    max-height: 250px;
    overflow-y: scroll;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0.5s linear,
        opacity 0.5s linear;
    -moz-transition: visibility 0.5s linear,
        opacity 0.5s linear;
    -o-transition: visibility 0.5s linear,
        opacity 0.5s linear;
}

/* When data-bs-theme is dark */
[data-bs-theme="dark"] {
    .ace_editor,
    .cdx-block,
    .ce-header,
    .inlineToolButton,
    .ce-toolbar__plus,
    .ce-toolbar__settings-btn,
    .ce-popover__search,
    .ce-toolbar__actions {
        background-color: #212529;
        color: white;
    }

    .tc-add-row::before {
        display: none;
    }

    .ace_gutter,
    .inline-image__control-panel,
    .inline-image__caption,
    .cdx-loader,
    .inline-image__image-gallery,
    .cdx-settings-button,
    .tc-popover__item-icon,
    .ce-conversion-tool__icon,
    .ce-conversion-tool--focused,
    .ce-conversion-tool,
    .ce-inline-toolbar__dropdown {
        color: white;
        background-color: #262626;
    }

    .cdx-button,
    .ce-inline-toolbar,
    .ce-toolbar__plus,
    .ce-toolbar__settings-btn,
    .ce-popover--opened,
    .tc-popover--opened,
    .ce-popover-item__icon,
    .ce-conversion-toolbar--showed {
        color: white;
        background-color: #262626;
        border: thin solid rgba(201,201,204,.3);
        box-shadow: none;
    }

    .ce-popover-item:hover,
    .cdx-button:hover,
    .ce-toolbar__plus:hover,
    .ce-toolbar__settings-btn:hover,
    .inline-image__tab:hover,
    .ce-conversion-tool:hover,
    .ce-conversion-tool--focused:hover,
    .ce-inline-tool:hover,
    .cdx-settings-button:hover,
    .ce-inline-toolbar__dropdown:hover,
    .tc-cell--selected,
    .tc-add-row:hover,
    .tc-add-column:hover {
        background-color: #2f2f2f;  
    }

    .ce-editorjsColumns_col,
    .ce-editorjsColumns_wrapper {
        border: thin solid rgba(201,201,204,.3);
        box-shadow: none;
    }

    .ce-popover-item--confirmation{
        background-color: #EE5555!important;
    }

    .ce-popover-item,
    .ce-popover-items {
        --color-background-item-hover: #2f2f2f;
        background-color: #262626;
        color: white;
        border: none;
    }
}